name: test_project
on: push
jobs:
  test:
    runs-on: self-hosted
    steps:
      - name: Get code
        uses: actions/checkout@v2
      #- name: Setup Nodejs
      #  uses: actions/setup-node@v3
      #  with:
      #    node-version: 18
      - name: Install dependencies
        run: npm ci
      - name: test dependencies 
        run: npm test

        #- run: npm ci
        #- run: npm test
